<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.demo.mapper.UserMapper">

    <resultMap id="userResultMap" type="org.example.demo.entity.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <collection property="roles" ofType="org.example.demo.entity.Role" javaType="java.util.ArrayList">
            <result column="name" property="name" />
        </collection>
    </resultMap>

    <select id="selectByUsername" resultType="org.example.demo.entity.User" resultMap="userResultMap">
        select u.*, r.name
        from user u
        left join role_user ru on u.id = ru.user_id
        left join role r on r.id = ru.role_id
        where username = #{username}
    </select>

</mapper>